name: "mongodb_mongoexpress_server"

services:
  mongodb:
    build:
      context: ./dockerfiles
      dockerfile: mongodb.dockerfile
    container_name: mongodb_mongoexpress_server_mongodb
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=app_mongo_root
      - MONGO_INITDB_ROOT_PASSWORD=app_mongo_root_password
      - MONGO_INITDB_DATABASE=app_db
    volumes:
      - mongo_db_data:/data/db
      - ./init:/docker-entrypoint-initdb.d  # optional: for JS init scripts
    ports:
      - "27017:27017"
    expose:
      - "27017"

  mongo-express:
    image: mongo-express:latest
    container_name: mongodb_mongoexpress_server_express
    restart: unless-stopped
    ports:
      - "8082:8081"
    environment:
      # force connection URL to the correct service name and include authSource
      - ME_CONFIG_MONGODB_URL=mongodb://app_mongo_root:app_mongo_root_password@mongodb:27017/?authSource=admin
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ADMINUSERNAME=app_mongo_root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=app_mongo_root_password
      - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
      - ME_CONFIG_BASICAUTH=false
    depends_on:
      - mongodb

  # adminmongo:
  #   image: mrvautin/adminmongo:latest
  #   container_name: mongodb_adminmongo
  #   restart: unless-stopped
  #   ports:
  #     - "1234:1234"
  #   environment:
  #     - CONN_NAME=local
  #     - DB_USERNAME=app_mongo_root
  #     - DB_PASSWORD=app_mongo_root_password
  #     - DB_HOST=mongo
  #     - DB_PORT=27017
  #     - DB_NAME=app_db
  #   depends_on:
  #     - mongo

volumes:
  mongo_db_data:
