name: "mysql_phpmyadmin_server"
services:

    mysql:
        build:
            context: ./dockerfiles
            dockerfile: mysql.dockerfile
        container_name: mysql_phpmyadmin_server_mysql
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=app_mysql_root_password
            - MYSQL_DATABASE=app_db
            - MYSQL_USER=app_user
            - MYSQL_PASSWORD=app_mysql_app_user_password
        volumes:
            - mysql_db_data:/var/lib/mysql
            - ./init:/docker-entrypoint-initdb.d
        ports:
            - '3306:3306'
        expose:
            - '3306'
        command: >
            --character-set-server=utf8mb4
            --collation-server=utf8mb4_unicode_ci            

    phpmyadmin:
        build:
            context: ./dockerfiles
            dockerfile: phpmyadmin.dockerfile
        container_name: mysql_phpmyadmin_server_phpmyadmin
        restart: unless-stopped
        ports:
            - "8081:80"
        environment:
            - PMA_HOST=mysql
            - PMA_PORT=3306
            - PMA_USER=root
            - PMA_PASSWORD=app_mysql_root_password
            - PMA_ABSOLUTE_URI=http://localhost:8081/
            - PHP_UPLOAD_MAX_FILESIZE=5000M
            - PHP_POST_MAX_SIZE=5000M                        

volumes:
    mysql_db_data: